    <header>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link ">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('page1') }}" class="nav-link ">Page 1</a></li>
                <li class="nav-item"><a href="{{ url_for('page2') }}" class="nav-link ">Page 2</a></li>
                <li class="nav-item"><a href="{{ url_for('page3') }}" class="nav-link ">Page 3</a></li>
            </ul>
        </nav>
        <hr style="clear:both">
    </header>